*.pyc
*.log
*.pyd
*.egg-info/
*.egg
.venv/
.idea/
.mypy_cache/
.vscode/
.eggs/
.installed.cfg
__pycache__/
update.py
testing.py
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
MANIFEST